no service pad 
service nagle
service tcp-keepalives-in
service tcp-keepalives-out
service password-encryption
service linenumber
no ip source-route
no ip finger
no ip http server
no ip http secure-server
no ip domain-lookup
no vstack
clock timezone GMT 0
!
hostname {{ hostname }}
!
vlan {{ voice_vlan }}
 name VOIP

username cisco privilege 15 secret 0 cisco
enable secret 0 cisco
!
no logging console

!
vtp mode transparent
!
spanning-tree mode rapid-pvst

spanning-tree vlan {{ data_vlan }},{{ voice_vlan }} root {{ spanning_tree }}
!
ip domain-name ent.fnfis.com
! 
crypto key generate rsa general-keys modulus 2048
!
ip ssh version 2
ip ssh source vlan1
!
interface {{ primary_trunk_port }}
 description Uplink to {{ router_hostname }}
 switchport mode trunk
 switchport trunk allowed vlan {{ data_vlan }},{{ voice_vlan }}
 switchport nonegotiate
 auto qos trust dscp
!
interface range {{ first_access_port }} - {{ last_access_port }}
 switchport host
 switchport voice vlan {{ voice_vlan }} 
 auto qos trust dscp
 spanning-tree portfast
!
!
interface VLAN{{ data_vlan }}
 description Management VLAN {{ data_vlan }} 
 ip address {{ ip_address }} {{ subnetmask }}
 no ip directed-broadcast
 no ip route-cache
 no ip proxy-arp
 no shut
!
ip default-gateway {{ gateway_ip }}
!

ip access-list extended VTY-ACL
 permit tcp 10.0.0.0 0.255.255.255 any eq 22 log-input
 permit tcp 192.168.0.0 0.0.255.255 any eq 22 log-input
 deny   ip any any log-input
!
snmp-server community Ci5sc0 RO 99
snmp-server location {{ site_address }} - {{ division }}
snmp-server contact {{ sa_name }} - {{ sa_phone }}
snmp-server chassis-id {{ serial }} MODEL:{{ switch_model }}
snmp-server enable traps snmp authentication coldstart warmstart
snmp-server system-shutdown
snmp-server enable traps config
snmp-server enable traps envmon
snmp-server enable traps tty
snmp-server enable traps snmp
snmp-server community Ci5sc0 RO 99
snmp-server host 192.168.50.99 Ci5sc0
!
logging 192.168.50.99
logging trap informational'
logging source-interface vlan1
!
!	  

ip tacacs source-interface vlan1
!
!
banner motd ^
This is a test swictch config meant for demonstration purposes only!
^
!
line con 0
 exec-timeout 15 0 
! 
line vty 0 15
 login local
 access-class VTY-ACL in
 exec-timeout 15 0
 transport input ssh telnet
! 
ntp server 192.168.50.1


